<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	strict="true"
	verbose="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	stopOnError="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	failOnRisky="true"
	failOnWarning="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutOutputDuringTests="true"
	printerClass="PHPUnit_TextUI_ResultPrinter"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60">

	<php>
		<ini name="error_reporting" value="-1"/>
		<ini name="display_errors" value="On"/>
		<ini name="display_startup_errors" value="On"/>
		<ini name="log_errors" value="Off"/>
		<ini name="log_errors_max_len" value="0"/>
		<ini name="memory_limit" value="256M"/>
	</php>

	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests/unit/</directory>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory>tests/integration/</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFilesFromWhitelist="true">
		<whitelist>
			<directory suffix=".php">includes/</directory>
			<exclude>
				<directory>includes/deprecated/</directory>
			</exclude>
		</whitelist>
	</coverage>

</phpunit>